@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header">
    <h1>Discord Plays Stellaris</h1>
    <h3><a href="https://discord.gg/DKhDpKX">Join us!</a></h3>
    <p>@Request.Query["t"]</p>
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Admins</h2>
        <ul>
            <li>Demoncat</li>
            <li>Pulse</li>
            <li>Obi</li>
            <li>Moosey</li>
            <li>Shoto</li>
            <li>Revenin</li>
            <li>Valk</li>
            <li>Tower</li>
            <li>Skelly</li>
        </ul>
    </div>
    <div class="col-md-5">
        <h2>Seasons</h2>
        <ul>
            <li>Season 1: United Nations of Earth (Completed)</li>
            <li>Season 1.5: Hesperian Commonwealth (Completed)</li>
            <li>Season 2: United Nation of Earth, with geopolitical spheres (Planned)</li>
        </ul>
    </div>

</div>
